@use "sass:list";
@use "sass:color";
@use "sass:meta";
@use "sass:string";
@use "sass:map";


$colors: (
	"black": #000000,
	"white": #FFFFFF,
	"offwhite": #FDFDFC,
	"silver": '#C0C0C0',
	"beige": #D9D4D0,
	"terracotta": #E56046,
	"salmon": #FF8B68,
	"havanna": #F5BD6E,
	"bordeaux": #852D37,
	"rose": #F77584,
	"magenta": #ED344E,
	"spring": #67D07E
);


$shades: (
	"purple": (
		"base": #AF88FD,
		"5": #f3edff,
		"10": #e7dbfe,
		"20": #cfb8fe,
		"30": #8C6DCA
		),
	"violet": (
		"base": #C08EE4,
		"5": #f2e8fa,
		"10": #e6d2f4,
		"20": #d3b0ec,
		"30": #9A72B6
		),
	"royalblue": (
		"base": #2D7FCA,
		"5": #eaf2fa,
		"10": #c0d9ef,
		"20": #6ca5da,
		"30": #2466A2
		),
	"blue": (
		"base": #8BC2D5,
		"5": #e8f3f7,
		"10": #d1e7ee,
		"20": #aed4e2,
		"30": #3882A2
		),
	"sea": (
		"base": #80C8C2,
		"5": #ecf7f6,
		"10": #d9efed,
		"20": #a6d9d4,
		"30": #66A09B
		),
	"green": (
		"base": #8CC996,
		"5": #e8f4ea,
		"10": #d1e9d5,
		"20": #afd9b6,
		"30": #70A178
		),
	"olive": (
		"base": #8E9B80,
		"5": #e8ebe6,
		"10": #d2d7cc,
		"20": #b0b9a6,
		"30": #727C66
		),
	"red": (
		"base": #E16268,
		"5": #fceff0,
		"10": #f6d0d2,
		"20": #ea9195,
		"30": #A5313B
		),
	"mulberry": (
		"base": #D06495,
		"5": #f6e0ea,
		"10":#ecc1d5,
		"20": #de93b5,
		"30": #A65077
		),
	"pink": (
		"base": #F691BE,
		"5": #fde9f2,
		"10": #fbd3e5,
		"20": #f9b2d2,
		"30": #E17EAA
		),
	"orange": (
		"base": #FFB064,
		"5": #ffefe0,
		"10": #ffdfc1,
		"20": #ffc893,
		"30": #F38E40
		),
	"yellow": (
		"base": #FCCB7A,
		"5": #fef5e4,
		"10": #feeaca,
		"20": #fddba2,
		"30": #FABB61
		),
	"brown": (
		"base": #87705B,
		"5": #e7e2de,
		"10": #cfc6bd,
		"20": #ab9b8c,
		"30": #6C5A49
		),
	"nude": (
		"base": #E1A299,
		"5": #F1D5D1,
		"10": #F5C9C0,
		"20": #E6B7AF,
		"30": #D3948B
		)
);


$themes: (
	light: (theme-100: #fffffe,
		theme-200: #fdfbfa,
		theme-300: #f6f2ef,
		theme-400: #f1edea,
		theme-500: #e2dfdc,
		theme-600: #d8d5d2,
		theme-700: #cfcbc9,
		theme-800: #c5c2bf,
		theme-900: #bbb8b6,
		surface-light: #fdfbfa, // theme-200 | bg light
		surface: #f6f2ef, // theme-300 | bg
		surface-dark: #ece8e5, // theme-400 | bg dark
		foreground-light: #a2a1a0, // light txt | mute
		foreground: #3c3c3c, // txt
		foreground-dark: #0c0c0c, // dark txt	

		primary: #ff8b5d,
		primary-5: #ffe8df,
		primary-10: #ffd1be,
		primary-20: #ff9970,
		primary-30: #EA5520,
		secondary: #5EAFB1,
		inverted: #FFFFFC,
		dark: #3F3F3F,
		light: #F3F1EE,
	),
	dimmed: (theme-100: #8d8d8d,
		theme-200: #808080,
		theme-300: #727272,
		theme-400: #676767,
		theme-500: #616161,
		theme-600: #5b5b5b,
		theme-700: #565656,
		theme-800: #505050,
		theme-900: #4a4a4a,

		surface-light: #808080, // bg light
		surface: #727272, // bg
		surface-dark: #676767, // bg dark
		foreground-light: #A8A8A8, // light txt | mute
		foreground: #D3D3D3, // txt
		foreground-dark: #F2F2F2, // dark txt	

		primary: #ff8b5d,
		primary-5: #ffd1be,
		primary-10: #ffd1be,
		primary-20: #ff9970,
		primary-30: #EA5520,
		secondary: #FE6A3F,
		inverted: #1B1B1B,
		dark: #3F3F3F,
		light: #F3F1EE,
	),
	dark: (theme-100: #545454,
		theme-200: #4b4b4b,
		theme-300: #414141,
		theme-400: #373737,
		theme-500: #303030,
		theme-600: #2b2b2b,
		theme-700: #252525,
		theme-800: #202020,
		theme-900: #1a1a1a,


		surface-light: #4b4b4b, // bg light
		surface: #414141, // bg
		surface-dark: #373737, // bg dark
		foreground-light: #878787, // light txt | mute
		foreground: #cdcdcd, // txt
		foreground-dark: #fdfdfd, // dark txt	

		primary: #ff8b5d,
		primary-5: #ffd1be,
		primary-10: #ffd1be,
		primary-20: #ff9970,
		primary-30: #EA5520,
		secondary: #FE6A3F,
		inverted: #131313,
		dark: #0D0D0D,
		light: #F3F1EE,
	)
);

// Define surface name aliases
$surfaceMap: (
	'theme-200': 'surface-light',
	'theme-300': 'surface',
	'theme-400': 'surface-dark',
);



// Generate theme CSS variables
@each $theme, $theme-map in $themes {
	$className: if($theme =="light", ":root, .theme-#{$theme}", ".theme-#{$theme}");

	#{$className} {
		@each $key, $value in $theme-map {

			// Get aliases if any
			$itemsToGenerate: (
				$key
			);

		@each $alias in $itemsToGenerate {
			--color-#{$alias}: #{$value};

			$isForeground: list.index(("foreground-light", "foreground", "foreground-dark"), $alias) !=null;
			$isPrimary: list.index(("primary", "primary-5", "primary-10", "primary-20", "primary-30", "secondary"), $alias) !=null;


			@if $isForeground {
				@if $key =="foreground-light" {
					--color-mute: var(--color-foreground-light, #{$value});
				}
			}

			@else {
				// Shadows
				--color-shadow-from-#{$alias}: hsl(from var(--color-#{$alias}, #{$value}) h s l / 42%);
				--color-shadow-to-#{$alias}: hsl(from var(--color-#{$alias}, #{$value}) h s l / 20%);
				--color-shadow-#{$alias}: 0 14px 26px -12px var(--color-shadow-from-#{$alias}, #{$value}),
				0 4px 23px 0 rgb(0 0 0 / 12%),
				0 8px 10px -5px var(--color-shadow-to-#{$alias}, #{$value});

				// Borders 
				@if $isPrimary {
					--color-border-#{$alias}: color-mix(in oklab, var(--color-#{$alias}, #{$value}), white 30%);
				}

				@else if $theme =="light" {
					--color-border-#{$alias}: color-mix(in oklab, var(--color-#{$alias}, #{$value}), black 10%);
				}

				@else {
					--color-border-#{$alias}: color-mix(in oklab, var(--color-#{$alias}, #{$value}), white 17%);
				}
			}
		}
	}
}
}


:root {

	// Colors
	@each $key, $value in $colors {
		$lightColors: list.index(("white", "offwhite", "light", "beige"), $key) !=null;
		--color-#{$key}: #{$value};

		--color-shadow-from-#{$key}: hsl(from var(--color-#{$key}, #{$value}) h s l / 42%);
		--color-shadow-to-#{$key}: hsl(from var(--color-#{$key}, #{$value}) h s l / 20%);
		--color-shadow-#{$key}: 0 14px 26px -12px var(--color-shadow-from-#{$key}, #{$value}),
		0 4px 23px 0 rgb(0 0 0 / 12%),
		0 8px 10px -5px var(--color-shadow-to-#{$key});

		@if $lightColors {
			--color-border-#{$key}: color-mix(in oklab, var(--color-#{$key}, #{$value}), black 24%);
		}

		@else {
			--color-border-#{$key}: color-mix(in oklab, var(--color-#{$key}, #{$value}), white 40%);
		}
	}

	// Shades
	@each $key, $value in $shades {
		@if meta.type-of($value)=="map" {
			@each $shade, $shadeValue in $value {

				$prefix: if($shade =="base", #{$key}, #{$key}-#{$shade});

				--color-#{$prefix}: #{$shadeValue};

				--color-shadow-from-#{$prefix}: hsl(from var(--color-#{$prefix}, #{$shadeValue}) h s l / 42%);
				--color-shadow-to-#{$prefix}: hsl(from var(--color-#{$prefix}, #{$shadeValue}) h s l / 20%);
				--color-shadow-#{$prefix}: 0 14px 26px -12px var(--color-shadow-from-#{$prefix}, #{$shadeValue}),
				0 4px 23px 0 rgb(0 0 0 / 12%),
				0 8px 10px -5px var(--color-shadow-to-#{$prefix}, #{$shadeValue});

				@if $shade =="5" {
					--color-border-#{$prefix}: color-mix(in oklab, var(--color-#{$prefix}, #{$shadeValue}), black 8%);
				}

				@else if $shade =="10" {
					--color-border-#{$prefix}: color-mix(in oklab, var(--color-#{$prefix}, #{$shadeValue}), black 10%);
				}

				@else {
					--color-border-#{$prefix}: color-mix(in oklab, var(--color-#{$prefix}, #{$shadeValue}), white 30%);
				}
			}
		}
	}



	// Globals
	--color-background: var(--color-surface);
	--color-border: var(--color-border-surface);
	--color-shadow-from: var(--color-shadow-from-surface);
}


@function GenerateForeground($key, $val, $isTheme: false) {
	$textColor: null;
	$primaryColors: list.index(("primary", "primary-20", "primary-30", "secondary"), $key);
	$whiteText: list.index(("white", "offwhite", "light", "beige", "primary-5", "primary-10"), $key);

	// Force white text if color ends in 5 or 10
	@if string.slice($key, -1)=="5" or string.slice($key, -2)=="10" {
		$whiteText: 1;
	}

	@if $whiteText {
		$textColor: var(--color-dark);
	}

	@else if $isTheme {
		@if $primaryColors {
			$textColor: var(--color-offwhite);
		}

		@else {
			$textColor: var(--color-foreground);
		}
	}

	@else {
		$textColor: var(--color-offwhite);
	}

	@return $textColor;
}

@mixin generateStyles($key, $val, $isTheme: null) {
	// Determine foreground color
	$textColor: GenerateForeground($key, $val, $isTheme);

	$keys: if(map.has-key($surfaceMap, $key), ($key, map.get($surfaceMap, $key)), ($key));

	@each $item in $keys {

		.bg-#{$item},
		.hover\:bg-#{$item}:hover {
			@if($textColor !='var(--color-foreground)') {
				--color-foreground: #{$textColor} !important;
			}

			--color-background: var(--color-#{$item}) !important;
			--color-border: var(--color-border-#{$item}) !important;
			--color-shadow: var(--color-shadow-#{$item}) !important;

			color: #{$textColor} !important;
			background: var(--color-#{$item}) !important;
		}

		.text-#{$item},
		.hover\:text-#{$item}:hover {
			color: var(--color-#{$item}) !important;
		}

		.border-#{$item},
		.hover\:border-#{$item}:hover {
			border-width: 1px !important;
			border-color: var(--color-border-#{$item}) !important;
		}

		.border-before-#{$item},
		.hover\:border-before-#{$item}:hover {
			&::before {
				border-width: 1px !important;
				border-color: var(--color-border-#{$item}) !important;
			}
		}

		.border-after-#{$item},
		.hover\:border-after-#{$item}:hover {
			&::after {
				border-width: 1px !important;
				border-color: var(--color-border-#{$item}) !important;
			}
		}


		.shadow-#{$item},
		.hover\:shadow-#{$item}:hover {
			box-shadow: var(--color-shadow-#{$item}) !important;
		}

		.shadow-from-#{$item} {
			--color-shadow-from: var(--color-shadow-from-#{$item}) !important;
		}

		.shadow-before-#{$item},
		.hover\:shadow-before-#{$item}:hover {
			&::before {
				box-shadow: var(--color-shadow-#{$item}) !important;
			}
		}

		.ring-#{$item} {
			--ring-color: var(--color-#{$item}) !important;
		}

		.ring-offset-#{$item} {
			--ring-offset-color:var(--color-#{$item}) !important;
		}

		.ring-offset-border-#{$item} {
			--ring-offset-border-color: var(--color-#{$item}) !important;
		}

		.btn.btn-#{$item} {
			--color-shadow: var(--color-shadow-#{$item}) !important;
			--button-border: var(--color-#{$item});
			--button-foreground: #{$textColor};
			--button-background: var(--color-#{$item});
		}

		.formcontrol-#{$item} {
			--formcontrol-background: var(--color-#{$item}) !important;
			--formcontrol-border: var(--color-#{$item}) !important;
		}

		.tooltip-#{$item} {
			--tooltip-background: var(--color-#{$item}) !important;
			--tooltip-foreground: #{$textColor} !important;
		}

	}
}

// Generate styles for themes
@each $key, $value in map.get($themes, dark) {
	$textColors: (
		foreground,
		foreground-light,
		foreground-dark
	);

@if not list.index($textColors, $key) {
	@include generateStyles($key, $value, true);
}
}

// Generate styles for colors
@each $key, $value in $colors {
	@include generateStyles($key, $value);
}

// Generate styles for shade colors
@each $key, $value in $shades {
	@each $shade, $shadeValue in $value {
		$prefix: if($shade =="base", #{$key}, #{$key}-#{$shade});
		@include generateStyles($prefix, $value);
	}
}