@use "sass:list";
@use "sass:color";
@use "sass:meta";
@use "sass:string";
@use "sass:map";

$colors: (
	"black": #000000,
	"white": #FFFFFF,
	"offwhite": #FDFDFC,
	"silver": '#C0C0C0',
	"beige": #D9D4D0,
	"terracotta": #E56046,
	"salmon": #FF8B68,
	"havanna": #F5BD6E,
	"bordeaux": #852D37,
	"rose": #F77584,
	"magenta": #ED344E,
	"spring": #67D07E,
	"transparent": transparent
);


$shades: (
	"purple": ("base": #AF88FD, "5": #f3edff, "10": #e7dbfe, "20": #cfb8fe, "30": #8C6DCA),
	"violet": ("base": #C08EE4, "5": #f2e8fa, "10": #e6d2f4, "20": #d3b0ec, "30": #9A72B6),
	"royalblue": ("base": #2D7FCA, "5": #eaf2fa, "10": #c0d9ef, "20": #6ca5da, "30": #2466A2),
	"blue": ("base": #8BC2D5, "5": #e8f3f7, "10": #d1e7ee, "20": #aed4e2, "30": #3882A2),
	"sea": ("base": #80C8C2, "5": #ecf7f6, "10": #d9efed, "20": #a6d9d4, "30": #66A09B),
	"green": ("base": #8CC996, "5": #e8f4ea, "10": #d1e9d5, "20": #afd9b6, "30": #70A178),
	"olive": ("base": #8E9B80, "5": #e8ebe6, "10": #d2d7cc, "20": #b0b9a6, "30": #727C66),
	"red": ("base": #E16268, "5": #fceff0, "10": #f6d0d2, "20": #ea9195, "30": #A5313B),
	"mulberry": ("base": #D06495, "5": #f6e0ea, "10":#ecc1d5, "20": #de93b5, "30": #A65077),
	"pink": ("base": #F691BE, "5": #fde9f2, "10": #fbd3e5, "20": #f9b2d2, "30": #E17EAA),
	"orange": ("base": #FFB064, "5": #ffefe0, "10": #ffdfc1, "20": #ffc893, "30": #F38E40),
	"yellow": ("base": #FCCB7A, "5": #fef5e4, "10": #feeaca, "20": #fddba2, "30": #FABB61),
	"brown": ("base": #87705B, "5": #e7e2de, "10": #cfc6bd, "20": #ab9b8c, "30": #6C5A49),
	"nude": ("base": #E1A299, "5": #F1D5D1, "10": #F5C9C0, "20": #E6B7AF, "30": #D3948B)
);


$themes: (
	light: (
		theme-100: #fffffe,
		theme-200: #fdfbfa,
		theme-300: #f6f2ef,
		theme-400: #f1edea,
		theme-500: #e2dfdc,
		theme-600: #d8d5d2,
		theme-700: #cfcbc9,
		theme-800: #c5c2bf,
		theme-900: #bbb8b6,
		surface-light: #fdfbfa,
		surface: #f6f2ef,
		surface-dark: #f1edea,
		text-light: #a2a1a0, 
		text: #3c3c3c, 
		text-dark: #0c0c0c, // dark txt	
		primary: #ff8b5d,
		primary-5: #ffe8df,
		primary-10: #ffd1be,
		primary-20: #ff9970,
		primary-30: #EA5520,
		secondary: #5EAFB1,
		inverted: #FFFFFC,
		dark: #3F3F3F,
		light: #F3F1EE,
	),
	dimmed: (
		theme-100: #8d8d8d,
		theme-200: #808080,
		theme-300: #727272,
		theme-400: #676767,
		theme-500: #616161,
		theme-600: #5b5b5b,
		theme-700: #565656,
		theme-800: #505050,
		theme-900: #4a4a4a,
		surface-light: #808080, 
		surface: #727272, 
		surface-dark: #676767, 
		text-light: #A8A8A8, 
		text: #D3D3D3, 
		text-dark: #F2F2F2, 
		primary: #ff8b5d,
		primary-5: #ffd1be,
		primary-10: #ffd1be,
		primary-20: #ff9970,
		primary-30: #EA5520,
		secondary: #FE6A3F,
		inverted: #1B1B1B,
		dark: #3F3F3F,
		light: #F3F1EE,
	),
	dark: (  
		theme-100: #545454,
		theme-200: #4b4b4b,
		theme-300: #414141,
		theme-400: #373737,
		theme-500: #303030,
		theme-600: #2b2b2b,
		theme-700: #252525,
		theme-800: #202020,
		theme-900: #1a1a1a,
		surface-light: #4b4b4b,
		surface: #414141,
		surface-dark: #373737,
		text-light: #878787, 
		text: #cdcdcd, 
		text-dark: #fdfdfd, 
		primary: #ff8b5d,
		primary-5: #ffd1be,
		primary-10: #ffd1be,
		primary-20: #ff9970,
		primary-30: #EA5520,
		secondary: #FE6A3F,
		inverted: #131313,
		dark: #0D0D0D,
		light: #F3F1EE,
	)
);


$excludedThemeProps: (
	text, 
	text-light, 
	text-dark, 
	inverted
);

$lightTextRequiredProps: (
	dark,
	primary,
	primary-20,
	primary-30,
	secondary
);

$darkTextRequiredProps: (
	"white", 
	"offwhite", 
	"beige", 
	"silver",
	primary-5, 
	primary-10, 
	"transparent",
	theme-100,
	theme-200,
	theme-300,
	theme-400,
	surface,
	surface-light,
	surface-dark
);

@function determineForeground($name, $isThemeProp: false) {

	$foreground: var(--color-offwhite);

	@if $isThemeProp {
		$foreground: var(--color-text);

		@if list.index($lightTextRequiredProps, $name) {
			$foreground: var(--color-offwhite);
		}
	} @else {   
		@if list.index($darkTextRequiredProps, $name) {
			$foreground: var(--color-text);
		}
	}

	@return $foreground;
}

@function determineBorder($name, $isThemeProp: false, $theme: null) {
	$borderLight: color-mix(in oklab, var(--color-#{$name}) 70%, white 30%);
	$borderDark: color-mix(in oklab, var(--color-#{$name}) 50%, black 10%);

	$border: $borderLight;

	@if $isThemeProp {
		@if $theme == dimmed or $theme == dark {
			$border: $borderLight;
		} @else {
			$border: $borderDark;
		}

		@if list.index($lightTextRequiredProps, $name) {
			$border: $borderLight;
		}
	} @else {   
		@if list.index($darkTextRequiredProps, $name) {
			$border: $borderDark;
		}
	}

	@return $border;
}


@function determineMute($name, $isThemeProp: false) {

	$mutedLight: color-mix(in oklab, var(--color-#{$name}) 100%, white 80%);
	$mutedDark: color-mix(in oklab, var(--color-#{$name}) 100%, black 25%);

	$mute: $mutedLight;

	@if $isThemeProp {
		$mute: var(--color-text-light);

		@if list.index($lightTextRequiredProps, $name) {
			$mute: $mutedLight;
		}
	} @else {   
		@if list.index($darkTextRequiredProps, $name) {
			$mute: var(--color-text-light);
		}
	}

	@return $mute;
}


@mixin applyBasicStyles($name, $value, $isThemeProp: false, $theme: null) {
	$border:  determineBorder($name, $isThemeProp, $theme);
	$mute: determineMute($name, $isThemeProp);

	--color-#{$name}: #{$value};
	--color-border-#{$name}:#{$border};
	--color-mute-#{$name}: #{$mute};

	 // Shadows
	--color-shadow-from-#{$name}: hsl(from var(--color-#{$name}, #{$value}) h s l / 42%);
	--color-shadow-to-#{$name}: hsl(from var(--color-#{$name}, #{$value}) h s l / 20%);
	--color-shadow-#{$name}: 0 14px 26px -12px var(--color-shadow-from-#{$name}, #{$value}), 0 4px 23px 0 rgb(0 0 0 / 12%), 0 8px 10px -5px var(--color-shadow-to-#{$name},#{$value});
}

@mixin generateComponentStyles($name, $value, $isThemeProp: false){
	$isThemeColor: string.index($name, "theme-")or string.index($name, "surface") or string.index($name, "surface-");
	$foreground: determineForeground($name, $isThemeProp);

	.bg-#{$name},
	.hover\:bg-#{$name}:hover {
		--color-background: var(--color-#{$name});
		--color-foreground: #{$foreground};
		--color-border: var(--color-border-#{$name});
		--color-mute: var(--color-mute-#{$name});

		--table-head-bg: var(--color-#{$name}-30);
		--table-head-border: var(--color-border-#{$name}-30);
		--table-expanded-bg: var(--color-border-#{$name}-20);
		--table-hover-color: var(--color-#{$name}-30);

		background: var(--color-background) !important;
		color: var(--color-foreground) !important;
	}

	.text-#{$name},
	.hover\:text-#{$name}:hover {
		--color-foreground: var(--color-#{$name});
		color: var(--color-#{$name}) !important;
	}


	.text-mute-#{$name},
	.hover\:text-mute-#{$name}:hover {
		--color-mute: var(--color-mute-#{$name});
		color: var(--color-mute-#{$name}) !important;
	}


	.border-#{$name},
	.hover\:border-#{$name}:hover {      
		border-color: var(--color-border-#{$name}) !important;
	}

	.border-before-#{$name},
	.hover\:border-before-#{$name}:hover {
		&::before {
			border-color: var(--color-border-#{$name}) !important;
		}
	}

	.border-after-#{$name},
	.hover\:border-after-#{$name}:hover {
		&::after {
			border-color: var(--color-border-#{$name}) !important;
		}
	}


	.shadow-#{$name},
	.hover\:shadow-#{$name}:hover {
		box-shadow: var(--color-shadow-#{$name}, 0 0 0 transparent) !important;
	}

	.shadow-from-#{$name}{
		--color-shadow-from: var(--color-shadow-from-#{$name}) !important;
	}  
	
	.shadow-before-#{$name},
	.hover\:shadow-before-#{$name}:hover {
		&::before {
			box-shadow: var(--color-shadow-#{$name}, 0 0 0 transparent) !important;
		}
	}

	.ring-#{$name} {
		--ring-color: var(--color-#{$name},#{$value});
	}

	.ring-offset-#{$name} {
		--ring-offset-color: var(--color-#{$name}, #{$value});
	}

	.ring-hover-#{$name} {
		--ring-hover-color: var(--color-#{$name}, #{$value});
	}

	.btn-#{$name} {
		--button-foreground: #{$foreground};
		--color-shadow: var(--color-shadow-#{$name});
		--color-border: var(--color-#{$name});
		--color-background: var(--color-#{$name});	  
	}

	.btn-outline.btn-#{$name},
	.btn-ghost.btn-#{$name}{
		--color-border: var(--color-border-#{$name});
		
		@if($isThemeColor){
			--button-foreground: var(--color-foreground);
		}@else{
			--button-foreground: var(--color-#{$name});
		}

		&:hover{
			--button-foreground:#{$foreground};
		}
	}
	
	.btn-flat.btn-#{$name}{
		@if($isThemeColor){
			--button-foreground: var(--color-foreground);
		}@else{
			--button-foreground: var(--color-#{$name});
		}
	}


	.formcontrol-#{$name} {
		--formcontrol-background: var(--color-#{$name});
		--formcontrol-border: var(--color-border-#{$name});      
	}

	.tooltip-#{$name} {
		--tooltip-background: var(--color-#{$name});
		--tooltip-foreground: #{$foreground};
	}

}



// Generate css variables
:root{
	@each $name, $value in $colors {
		@include applyBasicStyles($name, $value, false);    
	}

	@each $name, $map in $shades {
		@each $shade, $val in $map {
			$key: null;

			@if $shade ==base {
				$key: $name;
			}
			@else {
				$key: "#{$name}-#{$shade}";
			}

			@include applyBasicStyles($key, $val, $shade == "5" or $shade == "10");
		}
	}  

	--color-background: var(--color-surface);
	--color-foreground: var(--color-text);
	--color-border: var(--color-border-surface);
	--color-mute: var(--color-text-light);
	--color-shadow: var(--color-shadow-surface);
}

// Generate css variables & component styles for themes
@each $theme, $map in $themes {
	$selector: null;

	@if $theme =="light" {
		$selector: ":root,.theme-light";
	}
	@else {
		$selector: ".theme-#{$theme}";
	}

	#{$selector} {
		@each $name, $value in $map{
			@if not list.index($excludedThemeProps, $name) {
				@include applyBasicStyles($name, $value, true, $theme);  
			}@else{
				--color-#{$name}: #{$value};
			}     
		}
	}

	@if($theme == dark){
		@each $key, $val in $map {
			@if not list.index($excludedThemeProps, $key) {
				@include generateComponentStyles($key, $val, true);
			}
		}
	}   
}

// Generate component styles for colors
@each $key, $val in $colors {
	@include generateComponentStyles($key, $val, false);
}

// Generate component styles for shades
@each $name, $map in $shades {
	@each $shade, $val in $map {
		$key: null;

		@if $shade ==base {
			$key: $name;
		}
		@else {
			$key: "#{$name}-#{$shade}";
		}

		@include generateComponentStyles($key, $val, $shade == "5" or $shade == "10");
	}
}
