//  === Input Animations

@-webkit-keyframes inputFadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0,-100%,0);
      transform: translate3d(0,-100%,0)
    }
  
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none
    }
  }
  @keyframes inputFadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0,-100%,0);
      -ms-transform: translate3d(0,-100%,0);
      transform: translate3d(0,-100%,0)
    }
  
    100% {
      opacity: 1;
      -webkit-transform: none;
      -ms-transform: none;
      transform: none
    }
  }
  
  .inputFadeInDown {
    -webkit-animation-name: inputFadeInDown;
    animation-name: inputFadeInDown
  }
  
  

  .shockwave {
    animation: shockwave-animation 2s infinite;
  }
  
  @keyframes shockwave-animation {
    0% {
      box-shadow: 0 0 0 0 var(--color-shadow-from);
    }
    100% {
      box-shadow: 0 0 0 1rem rgba(0,0,0,0);
    }
  }
  
  
@keyframes moveInLeft {
  0% {
      opacity: 0;
      transform: translateX(-100px);
  }
  80% {
      transform: translateX(20px);
  }
  100% {
      opacity: 1;
      transform: translateX(0);
  }
}
@keyframes moveInRight {
  0% {
      opacity: 0;
      transform: translateX(100px);
  }
  80% {
      transform: translateX(-10px);
  }
  100% {
      opacity: 1;
      transform: translateX(0);
  }
}
@keyframes moveInBottom {
  0% {
      opacity: 0;
      transform: translateY(100px);
  }
  80% {
      transform: translateY(-10px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}
@keyframes moveInTop {
  0% {
      opacity: 0;
      transform: translateY(-100px);
  }
  80% {
      transform: translateY(10px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}
