// === Error pages


// 403 error page
#error403:not(.animated) .animable {
	opacity: 0;
}
#error403.animated #error403-background {
	animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) error403SlideRight;
	animation-delay: 0s;
}
#error403.animated #error403-padlock {
	animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) error403SlideUp;
	animation-delay: 0s;
}
#error403.animated #error403-character {
	animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) error403SlideUp;
	animation-delay: 0s;
}
#error403.animated #error403-text {
	animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) error403SlideUp;
	animation-delay: 0s;
}
#error403.animated #error403-security-barrier {
	animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) error403ZoomIn;
	animation-delay: 0s;
}
#error403.animated #error403-floor {
	animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) error403LightSpeedRight;
	animation-delay: 0s;
}

@keyframes error403SlideRight {
	0% {
		opacity: 0;
		transform: translateX(30px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
@keyframes error403SlideUp {
	0% {
		opacity: 0;
		transform: translateY(30px);
	}

	100% {
		opacity: 1;
		transform: inherit;
	}
}
@keyframes error403ZoomIn {
	0% {
		opacity: 0;
		transform: scale(0.5);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}
@keyframes error403LightSpeedRight {
	from {
		transform: translate3d(50%, 0, 0) skewX(-20deg);
		opacity: 0;
	}

	60% {
		transform: skewX(10deg);
		opacity: 1;
	}

	80% {
		transform: skewX(-2deg);
	}

	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}


// 404 error page
svg#error404:not(.animated) .animable {
	opacity: 0;
}
svg#error404.animated #error404-background {
	animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) error404LightSpeedRight;
	animation-delay: 0s;
}
svg#error404.animated #error404-text {
	animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) error404SlideDown;
	animation-delay: 0s;
}
svg#error404.animated #error404-number-2 {
	animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) error404SlideDown;
	animation-delay: 0s;
}
svg#error404.animated #error404-number-1 {
	animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) error404SlideUp;
	animation-delay: 0s;
}
svg#error404.animated #error404-character {
	animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) error404SlideUp;
	animation-delay: 0s;
}

@keyframes error404LightSpeedRight {
	from {
		transform: translate3d(50%, 0, 0) skewX(-20deg);
		opacity: 0;
	}

	60% {
		transform: skewX(10deg);
		opacity: 1;
	}

	80% {
		transform: skewX(-2deg);
	}

	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

@keyframes error404SlideLeft {
	0% {
		opacity: 0;
		transform: translateX(-30px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes error404SlideDown {
	0% {
		opacity: 0;
		transform: translateY(-30px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes error404SlideUp {
	0% {
		opacity: 0;
		transform: translateY(30px);
	}

	100% {
		opacity: 1;
		transform: inherit;
	}
}


// 500 error page
svg#error500:not(.animated) .animable {
	opacity: 0;
}
svg#error500.animated #error500-background {
	animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38)
		error500LightSpeedLeft;
	animation-delay: 0s;
}
svg#error500.animated #error500-text {
	animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) error500ZoomIn;
	animation-delay: 0s;
}
svg#error500.animated #error500-character {
	animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) error500ZoomOut;
	animation-delay: 0s;
}
svg#error500.animated #error500-device {
	animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) error500SlideLeft;
	animation-delay: 0s;
}
svg#error500.animated #error500-table {
	animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) error500SlideDown;
	animation-delay: 0s;
}
svg#error500.animated #error500-floor {
	animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) error500SlideDown;
	animation-delay: 0s;
}

@keyframes error500LightSpeedLeft {
	from {
		transform: translate3d(-50%, 0, 0) skewX(20deg);
		opacity: 0;
	}

	60% {
		transform: skewX(-10deg);
		opacity: 1;
	}

	80% {
		transform: skewX(2deg);
	}

	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}
@keyframes error500ZoomOut {
	0% {
		opacity: 0;
		transform: scale(1.5);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}
@keyframes error500ZoomIn {
	0% {
		opacity: 0;
		transform: scale(0.5);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}
@keyframes error500SlideUp {
	0% {
		opacity: 0;
		transform: translateY(30px);
	}

	100% {
		opacity: 1;
		transform: inherit;
	}
}
@keyframes error500SlideLeft {
	0% {
		opacity: 0;
		transform: translateX(-30px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
@keyframes error500SlideDown {
	0% {
		opacity: 0;
		transform: translateY(-30px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.page-error{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	&__illustration{
		width: 40%;

		svg{
			width: 100%;			
		}
	}

	p{
		margin-bottom:var(--page-padding-sm);
	}
}