@layer fieldset, inputElements, checkbox, checkboxAnimated,
radio, toggleSwith, tagsInput, dropdown, multiSelect, datepicker, fileupload;




@layer inputElements {
    :root {
        --form-margin: var(--page-padding);
        --password-hints-background: color-mix(in oklab, var(--color-background), black 1%);
        --formcontrol-label-trans: translateY(-20%) scale(0.9);
        --formcontrol-line-height: 2.5;
        --input-border: var(--color-border-surface-dark);
        --input-background: var(--color-surface-dark);
    }

    .bg-surface-dark,
    .bg-surface-light {
        --input-border: var(--color-border-surface);
        --input-background: var(--color-surface);
    }

    // === Clear X in search input for IE and Chome/Brave

    // IE
    input.hide-clear[type=search]::-ms-clear,
    input.hide-clear[type=search]::-ms-reveal {
        display: none;
        width: 0;
        height: 0;
    }

    // Chrome/Brave
    input.hide-clear[type="search"]::-webkit-search-decoration,
    input.hide-clear[type="search"]::-webkit-search-cancel-button,
    input.hide-clear[type="search"]::-webkit-search-results-button,
    input.hide-clear[type="search"]::-webkit-search-results-decoration {
        display: none !important;
    }

    // Clear date icon in date input in IE and Chrome/Brave
    input[type="date" i]::-webkit-calendar-picker-indicator {
        display: none;
    }


    // Google chrome remove blue bg for autocomplete
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus,
    select:-webkit-autofill:active,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus,
    textarea:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0 1000px var(--input-background) inset !important;
    }

    input:-webkit-autofill,
    select:-webkit-autofill,
    textarea:-webkit-autofill {
        -webkit-text-fill-color: var(--color-foreground) !important;
    }

    input:-internal-autofill-selected {
        appearance: menulist-button;
        background-image: none !important;
        background-color: var(--input-background) !important;
        color: inherit !important;
    }


    input::placeholder {
        color: var(--formcontrol-foreground);
    }

    input::-moz-placeholder {
        color: var(--formcontrol-foreground);
        opacity: 1;
    }

    input:-ms-input-placeholder {
        color: var(--formcontrol-foreground);
    }

    input::-ms-input-placeholder {
        color: var(--formcontrol-foreground);
    }

    .form-control::placeholder {
        color: var(--formcontrol-foreground);
    }

    // === HTML Select
    select {
        width: 100%;
        padding: var(--page-padding-sm);
        appearance: none;
        transition: all 0.1s ease-in-out;
        color: var(--color-foreground);
        border: 1px solid var(--input-border);
        border-radius: var(--formcontrol-radius);
        background: var(--input-background);

        &:focus {
            outline: 0;
        }

        &:focus-visible {
            border-radius: var(--radius);
            outline-offset: var(--accessibility-focus-outline-offset);
            outline-width: var(--accessibility-focus-outline-width);
            outline-style: var(--accessibility-focus-outline-style);
            outline-color: var(--accessibility-focus-outline-color);
            box-shadow: var(--accessibility-focus-outline-box-shadow);
        }

        &.disabled,
        &:disabled,
        &[readonly] {
            opacity: 0.6;
            pointer-events: none;
            cursor: default;
            border: 1px dashed var(--color-border);
        }
    }


    // === HTML Input
    .form-group {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-bottom: var(--form-margin);

        &__inline {
            display: inline-flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            margin-inline-end: var(--page-padding);

            &:last-child {
                margin-inline-end: 0;
            }
        }

        // Validation
        &:invalid {
            outline: none;
            box-shadow: none;
        }

        &__invalid {
            --color-foreground: var(--color-red);
            --input-border: var(--color-red);
            --form-margin: 3.5rem;
        }

        &:required {
            &:valid {
                outline: none;
                box-shadow: none;

                &:focus {
                    border-color: var(--color-green);
                    box-shadow: none;

                    ~label {
                        color: var(--color-green);
                    }
                }
            }

            &:invalid {

                outline: none;
                box-shadow: none;

                &:focus {
                    border-color: var(--color-red);
                    box-shadow: none;

                    ~label {
                        color: var(--color-red);
                    }
                }
            }
        }

        .field-validation-error {
            color: var(--color-red);
            right: 0;
            bottom: -2.8rem;
            position: absolute;
            font-weight: normal;
            font-size: var(--fs-sm);
            font-style: italic;
            animation-name: inputFadeInDown;
            animation-duration: 1s;
            animation-fill-mode: both;
        }

        label {
            position: absolute;
            left: 1.5rem;
            top: 15px;
            color: var(--formcontrol-foreground);
            font-size: var(--fs-base);
            transition: all 0.1s ease-in-out;
            pointer-events: none;
            transform-origin: 0% 0%;
            white-space: nowrap;
        }

        .form-control {
            width: 100%;
            appearance: none;
            transition: all 0.1s ease-in-out;
            color: var(--color-foreground);
            border: 1px solid var(--input-border);
            border-radius: var(--radius);
            background: var(--input-background);
            padding: var(--formcontrol-padding);
            line-height: var(--formcontrol-line-height);

            &:focus {
                outline: 0;
            }

            &:focus-visible {
                border-radius: var(--radius);
                outline-offset: var(--accessibility-focus-outline-offset);
                outline-width: var(--accessibility-focus-outline-width);
                outline-style: var(--accessibility-focus-outline-style);
                outline-color: var(--accessibility-focus-outline-color);
                box-shadow: var(--accessibility-focus-outline-box-shadow);
            }

            &.disabled,
            &:disabled,
            &[readonly] {
                opacity: 0.6;
                pointer-events: none;
                cursor: default;
                border: 1px dashed var(--input-border);
            }
        }

        select,
        input {
            height: var(--formcontrol-height);
        }

        input:-webkit-autofill,
        &.floating {
            label {
                top: .5rem;
                transform: var(--formcontrol-label-trans);
            }
        }

        &__simple {
            .form-control {
                border-top: 0;
                border-left: 0;
                border-right: 0;
                border-radius: 0;
                background: transparent;

                &:focus-visible {
                    outline: none;
                    border-radius: 0;
                }
            }
        }

        &__static,
        &__plaintext {
            margin-bottom: var(--page-padding-sm);

            .form-control {
                padding-left: 0;
                padding-bottom: 0;
                border: 0;
                word-break: break-all;
                background: none;
            }

            label {
                left: 0;
                top: 0;
                transform: var(--formcontrol-label-trans);

            }

            &--colon {
                label::after {
                    content: ':';
                    position: absolute;
                }
            }

            &--inline {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                margin-inline-end: var(--page-padding);
                margin-bottom: .5rem;

                &:last-child {
                    margin-inline-end: 0;
                }

                .form-control {
                    order: 2;
                    width: auto;
                    padding: 0;
                    margin: 0;
                }

                label {
                    order: 1;
                    position: relative;
                    width: auto;
                    transform: unset;
                    display: inline;
                    padding: 0;
                    padding-right: 1.5rem;
                }

            }
        }

        // Prefix icons       
        &.prefix__before {
            .icon {
                position: absolute;
                top: .7rem;
                left: -1rem;
                padding: 0;
                margin: 0;
                z-index: 2;

                svg {
                    fill: currentcolor;
                    width: var(--iconsize, 1.3em);
                    height: var(--iconsize, 1.3em);
                }
            }

            label,
            .form-control {
                margin-left: 3rem;
                width: calc(100% - 4rem);
            }

            &--right {
                .icon {
                    right: 1.5rem;
                    left: auto;
                }

                label,
                .form-control {
                    width: calc(100% - 8rem);
                }
            }
        }

        &.prefix__inline {
            .icon {
                position: absolute;
                top: .7rem;
                left: 0;
                padding: 0;
                margin: 0;
                z-index: 2;

                svg {
                    fill: currentcolor;
                    width: var(--iconsize, 1.3em);
                    height: var(--iconsize, 1.3em);
                }
            }

            label {
                left: 4rem;
            }

            .form-control {
                margin-left: 0;
                padding-left: 4rem;
                width: 100%;
            }

            &--right {
                .icon {
                    right: 1.5rem;
                    left: auto;
                }

                label {
                    left: 1.5rem;
                }

                .form-control {
                    padding-left: var(--page-padding-sm);
                }
            }
        }

        &.prefix__focus {
            .icon {
                position: absolute;
                top: .7rem;
                left: 0;
                padding: 0;
                margin: 0;
                z-index: 2;
                opacity: 0;
                transform: translateX(-100%);
                transition: color 0.3s 0s ease, transform 0.3s 0s ease;

                svg {
                    fill: currentcolor;
                    width: var(--iconsize, 1.3em);
                    height: var(--iconsize, 1.3em);
                }
            }

            .form-control {
                &:focus {
                    padding-left: 42px;

                    ~.icon {
                        left: 0;
                        opacity: 1;
                        transform: translateX(0);
                    }

                    ~label {
                        left: 42px;
                    }
                }
            }

            &.floating {
                label {
                    left: 42px;
                }

                .form-control {
                    padding-left: 42px;
                }

                .icon {
                    left: 0;
                    opacity: 1;
                    transform: translateX(0);
                }
            }
        }

        .form-text {
            display: block;
            margin-top: 0.4rem;
            margin-left: 0.8rem;
            font-size: var(--fs-xs);
            color: var(--color-mute);
        }

        &--sm {
            --formcontrol-height: 38px;
            --formcontrol-line-height: 1.1;

            label {
                transform: translateY(-25%) scale(1);
            }
        }
    }


    // === Password check
    .password {
        position: relative;

        .form-control {
            padding-right: 50px;
        }

        .icon {
            cursor: pointer;
        }
    }

    .password-check {
        position: relative;
        z-index: 102;

        &__indicator {
            display: flex;
            justify-content: space-between;
            margin-top: -4px;
            margin-bottom: .5rem;
            height: 4px;

            div {
                width: 32%;
                border-radius: 4px;
                background-color: transparent;
                transition: background-color 0.25s ease-in;
            }
        }

        &__feedback {
            display: none;
            font-size: var(--fs-base);
            color: var(--color-foreground);
            -webkit-animation-name: inputFadeInDown;
            animation-name: inputFadeInDown;
            -webkit-animation-duration: 1s;
            animation-duration: 1s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;

            &.shown {
                display: flex;
                opacity: 1;
            }
        }

        &__hints {
            display: none;
            flex-direction: column;
            position: absolute;
            z-index: 500;
            opacity: 1;
            padding: 1rem;
            background: var(--password-hints-background);
            transition: 0.15s all ease-in;
            box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.13);
            border-radius: 4px;

            &.shown {
                display: flex;
            }

            &__container {
                display: flex;
                flex-direction: column;
                margin-top: 1rem;
                padding-top: 1rem;
                border-top: 1px solid var(--input-border);

                >div {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    >svg {
                        flex: 0 0 50px;
                        width: 1em;
                        height: 1em;
                        opacity: 0;
                        visibility: hidden;

                        &.shown {
                            opacity: 1;
                            visibility: visible;
                        }
                    }

                    >span {
                        flex: 1;
                    }
                }
            }
        }
    }


    // === Search Input

    .search-input {
        position: relative;
        transition: all .3s;

        .form-group {
            margin: 0;
            margin-inline-end: 0;
            border-radius: var(--radius-full);
            background: var(--color-surface-dark);
        }


        .icon {
            position: absolute;
            top: 1px;
            inset-inline-start: 4px;
            color: var(--formcontrol-foreground);
        }

        input {
            height: 38px !important;
            min-width: 220px;
            border-radius: var(--radius-full) !important;
            padding: 0 0 0 4rem !important;
            background: transparent !important;
            border: none !important;
            box-shadow: none !important;
            color: var(--color-foreground) !important;



            &:focus-visible {
                outline-offset: var(--accessibility-focus-outline-offset);
                outline-width: var(--accessibility-focus-outline-width);
                outline-style: var(--accessibility-focus-outline-style);
                outline-color: var(--accessibility-focus-outline-color);
            }
        }
    }


    //  === Input Animations

    @-webkit-keyframes inputFadeInDown {
        0% {
            opacity: 0;
            -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0)
        }

        100% {
            opacity: 1;
            -webkit-transform: none;
            transform: none
        }
    }

    @keyframes inputFadeInDown {
        0% {
            opacity: 0;
            -webkit-transform: translate3d(0, -100%, 0);
            -ms-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0)
        }

        100% {
            opacity: 1;
            -webkit-transform: none;
            -ms-transform: none;
            transform: none
        }
    }

    .inputFadeInDown {
        -webkit-animation-name: inputFadeInDown;
        animation-name: inputFadeInDown
    }
}

@layer checkbox {

    :root {
        --formgroup-margin: 2rem;
        --checkbox-radius: var(--radius);
    }

    .checkbox input:focus~.checker,
    .checkbox input:active~.checker {
        outline-offset: var(--accessibility-focus-outline-offset);
        outline-width: var(--accessibility-focus-outline-width);
        outline-style: var(--accessibility-focus-outline-style);
        outline-color: var(--accessibility-focus-outline-color);
        box-shadow: var(--accessibility-focus-box-shadow);
        border-radius: 2px;
    }

    .form-field {
        display: flex;
        position: relative;
        margin-bottom: var(--page-padding);

        &__inline {
            display: inline-flex;
            margin-right: var(--page-padding);

            &:last-child {
                margin-right: 0;
            }
        }

        // Validation
        &:invalid {
            outline: none;
            box-shadow: none;
        }

        &__invalid {
            --color-foreground: var(--color-red);
            --formcontrol-border: var(--color-red);
            --formcontrol-background: var(--color-red);
            --padding-margin: 3.5rem;
        }

        &:required {
            &:valid {
                outline: none;
                box-shadow: none;

                &:focus {
                    border-color: var(--color-green);
                    box-shadow: none;

                    ~label {
                        color: var(--color-green);
                    }
                }
            }

            &:invalid {
                outline: none;
                box-shadow: none;

                &:focus {
                    border-color: var(--color-red);
                    box-shadow: none;

                    ~label {
                        color: var(--color-red);
                    }
                }
            }
        }

        .field-validation-error {
            color: var(--color-red);
            left: 0;
            right: auto;
            bottom: -2.8rem;
            position: absolute;
            font-weight: normal;
            font-size: var(--fs-sm);
            font-style: italic;
            animation-name: inputFadeInDown;
            animation-duration: 1s;
            animation-fill-mode: both;
        }
    }

    .checkbox {
        display: inline-flex;
        align-items: center;
        padding: 0;
        margin: 0;
        transform: translateZ(0);

        label {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0;
        }

        input[type="checkbox"] {
            opacity: 0;
            position: absolute;
            margin: 0;
            z-index: -1;
            width: 0;
            height: 0;
            overflow: hidden;
            left: 0;
            pointer-events: none;
        }

        .checker {
            position: relative;
            margin-right: 8px;
            cursor: pointer;

            &:before {
                position: absolute;
                left: 8px;
                top: 2px;
                content: "";
                background-color: var(--formcontrol-border);
                height: 4px;
                width: 4px;
                border-radius: 100%;
                z-index: 1;
                opacity: 0;
                margin: 0;
            }

            .check {
                position: relative;
                display: flex;
                width: 20px;
                height: 20px;
                color: var(--formcontrol-border);
                border: 2px solid var(--formcontrol-border);
                border-radius: 4px;
                overflow: hidden;
                z-index: 1;

                &:before {
                    position: absolute;
                    content: "";
                    transform: rotate(45deg);
                    display: block;
                    margin-top: -4px;
                    margin-left: 7px;
                    width: 0;
                    height: 0;
                    box-shadow: 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0,
                        0 0 0 0 inset;
                    animation: checkbox-off 0.3s forwards ease-out;
                }
            }
        }

        [type="checkbox"] {
            &:focus {
                ~.checker .check:after {
                    opacity: 0.2;
                }
            }

            &:checked {
                ~.checker {
                    .check {
                        &:before {
                            box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px,
                                0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px;
                            animation: checkbox-on 0.3s forwards ease-out;
                        }
                    }
                }
            }

            &.disabled,
            &:disabled,
            &[readonly] {
                &:not(:checked) {

                    ~.checker .check:before,
                    ~.circle {
                        opacity: 0.5;
                    }
                }

                ~.checker {
                    opacity: 0.5;
                    pointer-events: none;
                    cursor: default;

                    .check:after {
                        background-color: rgba(0, 0, 0, 0.64);
                        transform: rotate(-45deg);
                    }
                }
            }
        }
    }

    // Animations
    @keyframes checkbox-on {
        0% {
            box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px,
                -5px 5px 0 10px, 15px 2px 0 11px;
        }

        50% {
            box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px,
                -5px 5px 0 10px, 20px 2px 0 11px;
        }

        100% {
            box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px,
                -5px 5px 0 10px, 20px -12px 0 11px;
        }
    }

    @keyframes checkbox-off {
        0% {
            box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px,
                -5px 5px 0 10px, 20px -12px 0 11px, 0 0 0 0 inset;
        }

        25% {
            box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px,
                -5px 5px 0 10px, 20px -12px 0 11px, 0 0 0 0 inset;
        }

        50% {
            transform: rotate(45deg);
            margin-top: -4px;
            margin-left: 6px;
            width: 0px;
            height: 0px;
            box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px,
                -5px 5px 0 10px, 15px 2px 0 11px, 0 0 0 0 inset;
        }

        51% {
            transform: rotate(0deg);
            margin-top: -2px;
            margin-left: -2px;
            width: 20px;
            height: 20px;
            box-shadow: 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0,
                0px 0px 0 10px inset;
        }

        100% {
            transform: rotate(0deg);
            margin-top: -2px;
            margin-left: -2px;
            width: 20px;
            height: 20px;
            box-shadow: 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0,
                0px 0px 0 0px inset;
        }
    }
}

@layer checkboxAnimated {
    // === Animated Checkbox

    .animated-checkbox {
        position: relative;
        height: 32px;
        width: 32px;

        &:focus-within {
            border-radius: 50%;
            outline-offset: var(--accessibility-focus-outline-offset);
            outline-width: var(--accessibility-focus-outline-width);
            outline-style: var(--accessibility-focus-outline-style);
            outline-color: var(--accessibility-focus-outline-color);
            box-shadow: var(--accessibility-focus-box-shadow);
        }

        input {
            position: absolute;
            top: 0;
            inset-inline-start: 0;
            height: 100%;
            width: 100%;
            opacity: 0;
            cursor: pointer;
            z-index: 1;
        }

        .checkmark-wrap {
            position: relative;
            height: 32px;
            width: 32px;
            display: inline-block;

            .shadow-circle {
                position: absolute;
                top: 0;
                inset-inline-start: 0;
                height: 32px;
                width: 32px;
                border-radius: 100%;

                z-index: 0;
                opacity: 1;
                transition: all 0.2s;

                &.is-opaque {
                    opacity: 0;
                }
            }

            .checkmark-circle {
                height: 32px;
                width: 32px;
                stroke-dasharray: 166;
                stroke-dashoffset: 166;
                stroke-width: 2;
                stroke-miterlimit: 10;
                fill: none;
                color: var(--color-accent);
                stroke: var(--color-accent);
            }

            .checkmark {
                width: 32px;
                height: 32px;
                border-radius: 100%;
                display: block;
                stroke-width: 2;
                color: var(--color-border);
                stroke: var(--color-border);
                stroke-miterlimit: 10;
                margin: 0 auto;
                box-shadow: inset 0 0 0 var(--color-accent);
            }

            .checkmark-dash {
                transform-origin: 50% 50%;
                transform: translateX(10%);
                stroke-dasharray: 48;
                stroke-dashoffset: 48;
                color: var(--color-border);
                stroke: var(--color-border);
            }

            .checkmark-check {
                transform-origin: 50% 50%;
                stroke-dasharray: 48;
                stroke-dashoffset: 48;
                color: var(--color-accent);
                stroke: var(--color-accent);
            }
        }

        &.is-checked {
            .checkmark-circle {
                animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) both;
            }

            .checkmark-check {
                animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s both;
            }
        }

        &.is-unchecked {
            .shadow-circle {
                border: 1px solid var(--color-border);
            }

            .checkmark-circle {
                animation: reverseCircle 0.6s cubic-bezier(0.65, 0, 0.45, 1) 0.2s both;
            }

            .checkmark-check {
                animation: reverseCheck 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.1s both;
            }

            .checkmark-dash {
                animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s both;
            }
        }
    }

    @keyframes stroke {
        to {
            stroke-dashoffset: 0;
        }
    }

    @keyframes reverseCircle {
        0% {
            stroke-dashoffset: 0;
        }

        to {
            stroke-dashoffset: 166;
        }
    }

    @keyframes reverseCheck {
        0% {
            stroke-dashoffset: 0;
        }

        to {
            stroke-dashoffset: 48;
        }
    }
}

@layer radio {

    .radio input:focus~.checker,
    .radio input:active~.checker {
        outline-offset: var(--accessibility-focus-outline-offset);
        outline-width: var(--accessibility-focus-outline-width);
        outline-style: var(--accessibility-focus-outline-style);
        outline-color: var(--accessibility-focus-outline-color);
        box-shadow: var(--accessibility-focus-box-shadow);
    }


    .radio {
        display: inline-flex;
        align-items: center;
        padding: 0;
        transform: translateZ(0);

        label {
            position: relative;
            cursor: pointer;
            display: inline-block;
            margin-bottom: 0;
        }

        [type="radio"] {
            opacity: 0;
            position: absolute;
            margin: 0;
            z-index: -1;
            width: 0;
            height: 0;
            overflow: hidden;
            left: 0;
            pointer-events: none;
        }

        .checker {
            position: relative;
            display: block;
            float: left;
            margin-right: 8px;
            width: 20px;
            height: 20px;
            border: 2px solid var(--formcontrol-border);
            border-radius: 100%;
            -webkit-tap-highlight-color: transparent;

            &::after {
                content: "";
                position: absolute;
                top: 2px;
                left: 2px;
                width: 12px;
                height: 12px;
                border-radius: 100%;
                background-color: var(--formcontrol-border);
                transform: scale(0);
                transition: all 0.2s ease;
                opacity: 0.08;
                pointer-events: none;
            }
        }

        input[type="radio"] {
            &:checked {
                ~.checker {
                    border-color: var(--formcontrol-border);

                    &:after {
                        transform: scale(1);
                        transition: all 0.2s cubic-bezier(0.35, 0.9, 0.4, 0.9);
                        opacity: 1;
                    }
                }
            }

            &.disabled,
            &:disabled,
            &[readonly] {
                &:not(:checked) {
                    ~.checker:before {
                        opacity: 0.5;
                    }
                }

                ~.checker {
                    opacity: 0.5;
                    cursor: default;
                    pointer-events: none;

                    &:after {
                        background-color: rgba(0, 0, 0, 0.64);
                        transform: rotate(-45deg);
                    }
                }
            }
        }
    }

}

@layer toggleSwith {


    :root {
        --toggleswich-button: var(--color-theme-400);
    }

    .switch:focus-within,
    .switch:focus-visible {
        outline-offset: var(--accessibility-focus-outline-offset);
        outline-width: var(--accessibility-focus-outline-width);
        outline-style: var(--accessibility-focus-outline-style);
        outline-color: var(--accessibility-focus-outline-color);
        box-shadow: var(--accessibility-focus-box-shadow);
        border-radius: 100px;
    }

    .switch {
        display: inline-flex;
        align-items: center;
        position: relative;
        cursor: pointer;
        margin-right: 8px;
        -webkit-tap-highlight-color: transparent;

        i {
            position: relative;
            display: inline-block;
            width: 36px;
            height: 22px;
            border-radius: 100px;
            cursor: pointer;
            color: inherit;
            margin-right: 8px;
            transition: all 0.3s linear;

            &::before {
                content: "";
                position: absolute;
                left: 0;
                width: 42px;
                height: 22px;
                border: 2px solid var(--formcontrol-border); // border
                opacity: 0.67;
                border-radius: 11px;
                transition: all 0.25s linear;
            }

            &::after {
                content: "";
                position: absolute;
                left: -1px;
                top: -3px;
                width: 22px;
                height: 22px;
                background: var(--formcontrol-background); // button
                box-shadow: 0 2px 2px #0000003d;
                border-radius: 11px;
                transform: translate3d(1px, 2px, 0);
                transition: all 0.2s ease-in-out;
            }
        }

        input {
            position: absolute;
            opacity: 0;
            pointer-events: none;

            &:checked~i {
                &::before {
                    border-color: color-mix(in oklab, var(--formcontrol-background), white 50%); //var(--formcontrol-border);
                    background-color: color-mix(in oklab, var(--formcontrol-background), white 16%);
                }

                &::after {
                    transform: translate3d(24px, 2px, 0);
                }
            }

            &:disabled,
            .disabled,
            &[disabled] {
                cursor: not-allowed;

                ~i {
                    opacity: 0.5;
                }
            }
        }
    }

    .theme-light {
        .switch input:checked~i::before {
            border-color: color-mix(in oklab, var(--formcontrol-background), black 6%);
        }
    }

}

@layer tagsInput {


    .tags-input {
        position: relative;
        display: inline-flex;
        align-items: flex-end;
        flex-wrap: wrap;
        padding: var(--page-padding-sm);
        transition: all 0.2s ease-in-out;
        width: 100%;
        padding-top: 2rem;
        appearance: none;
        color: var(--color-foreground);
        border: 1px solid var(--input-border);
        border-radius: var(--radius);
        background: var(--input-background);

        &:focus-within {
            border-radius: var(--radius);
            outline-offset: var(--accessibility-focus-outline-offset);
            outline-width: var(--accessibility-focus-outline-width);
            outline-style: var(--accessibility-focus-outline-style);
            outline-color: var(--accessibility-focus-outline-color);
        }

        input {
            flex: 1;
            border: none;
            height: var(--formcontrol-height);
            font-size: inherit;
            padding: var(--formcontrol-padding);
            background: var(--input-background);
            color: var(--color-foreground);

            &:focus {
                outline: transparent;
            }
        }

        .tags {
            list-style: none;

            &__item {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: space-between;
                list-style: none;
                width: auto;
                min-height: 28px;
                border-radius: 0.5rem;
                padding: 0.25rem var(--page-padding) 0.25rem var(--page-padding-sm);
                color: var(--color-foreground);
                background: var(--color-theme-600);
                margin-inline-end: 0.5rem;

                &:last-child {
                    margin-inline-end: 0;
                }

                &__title {
                    flex: 1;
                    margin-right: 1rem;
                }

                .dismiss {
                    position: absolute;
                    top: .5rem;
                    right: .5rem;
                }
            }
        }
    }

    .tags {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        margin: 0;
        margin-inline-end: 1rem;
    }

}

@layer dropdown {

    

.dropdown {
	position: relative;
	display: inline-flex;

	&__toggle {
		position: relative;
		display: inline-flex;
		align-items: center;
		white-space: nowrap;
		cursor: pointer;

        &:active,
		&.active {
            transform: scale(1) !important;
        }

		&__title {
			margin-right: 2rem;
			margin-left: 0.75rem;
		}

		&--input {
			width: 100%;
			height: 48px;
			padding: var(--page-padding-sm);
			appearance: none;
			transition: all 0.1s ease-in-out;
			color: var(--color-foreground);
			border: 1px solid var(--formcontrol-border);
			border-radius: var(--radius);
			background: var(--formcontrol-background);

			&:focus {
				outline: 0;
			}

			&:focus-visible {
				border-radius: var(--radius);
				outline-offset: var(--accessibility-focus-outline-offset);
				outline-width: var(--accessibility-focus-outline-width);
				outline-style: var(--accessibility-focus-outline-style);
				outline-color: var(--accessibility-focus-outline-color);
			}

			&.disabled,
			&:disabled,
			&[readonly] {
				opacity: 0.6;
				pointer-events: none;
				cursor: default;
				border: 1px dashed var(--formcontrol-border);
			}

			&::after {
				position: absolute;
				content: "";
				right: 0.71429em;
				top: 50%;
				margin-top: -0.17857em;
				border: 0.35714em solid transparent;
				border-top-color: var(--formcontrol-border);
			}

			> .dropdown__toggle__title {
				margin-right: 1.5rem;
			}
		}
	}

	&__menu {
		display: none;
		flex-direction: column;
		position: fixed;   
		z-index: 1000;
		min-width: 22rem;
		padding: 0;
		margin: 0;
		font-size: var(--fontsize-base);
		list-style: none;
		color: var(--color-foreground);
		background: var(--color-background);
		border-radius: var(--radius);
		box-shadow: 0 6px 15px #0000001f;
		transform: scale(0.95);
		transform-origin: top right;  
		opacity: 0;
		transition: transform 0.15s ease, opacity 0.15s ease;

		&.shown {
			display: flex;
			transform: scale(1);
			opacity: 1;
		}

		&__item {
			padding: calc(var(--page-padding-sm) / 2) var(--page-padding-sm);
			cursor: pointer;
			white-space: nowrap;
			transition: background 0.15s ease;

			&:hover {
				background: rgb(0 0 0 / 6%);
				border-radius: var(--radius);
			}

			&.selected {
				background: rgb(0 0 0 / 8%);
			}

			svg {
				width: 1.3em;
				height: 1.3em;
				fill: currentcolor;
			}

			.form-field {
				margin-bottom: 0;
			}
		}

		&__header {
			display: flex;
			align-items: center;
			line-height: 36px;
			padding: 1rem 2rem;
			margin-bottom: 0;
			opacity: 0.5;
			white-space: nowrap;

			&--border {
				border-bottom: 1px solid var(--color-border);
				margin-bottom: 0;
				border-radius: 0;
			}
		}

		&__divider {
			height: 1px;
			background: var(--color-border);
		}

		&--border {
			.dropdown__menu__divider {
				border: 0;
			}
			.dropdown__menu__item {
				border-bottom: 1px solid var(--color-border);
				margin-bottom: 0;
				border-radius: 0;

				&:first-child {
					border-top: 0;
				}

				&:last-child {
					border-bottom: 0;
					border-radius: inherit;
				}
			}
		}
	}

	&--wide {
		.dropdown__menu {
			min-width: 36rem;
		}
	}

	&__search {
		display: block;
		appearance: none;
		width: 100%;
		min-width: 20rem;
		font-size: inherit;
		font-weight: inherit;
		line-height: inherit;
		outline: 0;
		background-clip: padding-box;
		border-radius: var(--formcontrol-radius);
		background-color: var(--formcontrol-background);
		padding: var(--formcontrol-padding);
		border: 1px solid var(--formcontrol-border);
		color: var(--color-foreground);
		box-shadow: none;
		text-align: left;
		filter: none;
		transition: all 0.2s ease-in-out;

		&:focus {
			border: 1px solid var(--formcontrol-accent);
			box-shadow: none;
		}
	}

	.form-group {
		width: 100%;
	}

	.form-field {
		margin-bottom: 0;
		margin-right: 1rem;
	}

	.multiselect__container {
		margin-bottom: 0;
	}

	.multiselect__title {
		margin: 0;
	}
}

/*
    .dropdown {
        --dropdown-offset: 45px;

        position: relative;
        display: inline-flex;

      


        &--up {
            .dropdown__menu.shown {
                position: absolute;
                inset: auto auto 0px 0px;
                margin: 0px;
                transform: translate(0px, -40px);
            }
        }

        &--right {
            .dropdown__menu.shown {
                right: 0;
                left: auto;
                transform: translateX(0);
            }
        }

        &--wide {
            .dropdown__menu {
                min-width: 36rem;
            }
        }

        &__search {
            display: block;
            appearance: none;
            width: 100%;
            min-width: 20rem;
            font-size: inherit;
            font-weight: inherit;
            line-height: inherit;
            outline: 0;
            background-clip: padding-box;
            border-radius: var(--formcontrol-radius);
            background-color: var(--formcontrol-background);
            padding: var(--formcontrol-padding);
            border: 1px solid var(--formcontrol-border);
            color: var(--color-foreground);
            box-shadow: none;
            text-align: left;
            filter: none;
            transition: all 0.2s ease-in-out;

            &:focus {
                border: 1px solid var(--formcontrol-accent);
                box-shadow: none;
            }
        }

        .form-group {
            width: 100%;
        }

        .form-field {
            margin-bottom: 0;
            margin-right: 1rem;
        }

        .multiselect__container {
            margin-bottom: 0;
        }

        .multiselect__title {
            margin: 0;
        }
    }

    */
}

@layer multiSelect {

    .multiselect {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 28rem;
        border-radius: var(--radius);
        color: var(--color-foreground);

        &__header {
            position: relative;
            display: flex;
            flex-direction: column;
            flex: 0 0 auto;
            padding: var(--page-padding-sm);
            border-bottom: 0px solid var(--color-border);

            &__content {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 20px;

                &__checkall {
                    flex: 0 0 auto;
                }

                &__search {
                    flex: 1 1 auto;
                }
            }
        }

        &__content {
            flex: 1 1 auto;
        }

        .collection {
            --color-background: transparent !important;

            &__item {
                &.selected {
                    --color-foreground: var(--color-offwhite);

                    .collection__item {
                        --color-selected: var(--color-primary);
                    }
                }
            }

        }

        .form-field,
        .form-group {
            margin-bottom: 0;
        }

        .form-group {
            width: 100%;
        }
    }

}

@layer datepicker {
    // === Datepicker

    .react-datepicker-wrapper {
        display: flex !important;
    }

    .react-datepicker-popper {
        z-index: 2;

        &[data-placement^='top'],
        &[data-placement^='bottom'],
        &[data-placement^='left'],
        &[data-placement^='right'] {
            .react-datepicker__triangle {
                fill: var(--input-background) !important;
                color: var(--input-background) !important;
            }
        }

        .react-datepicker__triangle {
            stroke: var(--input-background) !important;
        }
    }

    .react-datepicker {
        --datepicker-cell: 28px;

        font-family: var(--fontstack1) !important;
        font-size: var(--fs-sm) !important;
        background-color: var(--input-background) !important;
        color: var(--color-foreground) !important;
        border: none !important;
        border-radius: var(--radius) !important;
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.13) !important;
    }

    .react-datepicker__navigation {
        top: 1rem !important;
    }

    .react-datepicker__month {

        .react-datepicker__month-text,
        .react-datepicker__quarter-text {
            display: inline-block !important;
            width: 3rem !important;
            line-height: 3rem !important;
            text-align: center !important;
            margin: 0.166rem !important;
        }
    }

    .react-datepicker__year-read-view--down-arrow,
    .react-datepicker__month-read-view--down-arrow,
    .react-datepicker__month-year-read-view--down-arrow,
    .react-datepicker__navigation-icon::before {
        border-color: var(--input-border) !important;

        &:hover,
        &:focus {
            border-color: var(--input-border) !important;
        }
    }

    .react-datepicker__day,
    .react-datepicker__month-text,
    .react-datepicker__quarter-text,
    .react-datepicker__year-text {
        &:hover {
            background-color: var(--color-secondary) !important;
            color: var(--color-offwhite) !important;
            border-radius: 100% !important;
        }
    }

    .react-datepicker__day-name,
    .react-datepicker__day,
    .react-datepicker__time-name {
        color: var(--color-foreground) !important;
        width: var(--datepicker-cell) !important;
        line-height: var(--datepicker-cell) !important;
    }

    .react-datepicker__day--color-selected,
    .react-datepicker__day--in-selecting-range,
    .react-datepicker__day--in-range,
    .react-datepicker__month-text--color-selected,
    .react-datepicker__month-text--in-selecting-range,
    .react-datepicker__month-text--in-range,
    .react-datepicker__quarter-text--color-selected,
    .react-datepicker__quarter-text--in-selecting-range,
    .react-datepicker__quarter-text--in-range,
    .react-datepicker__year-text--color-selected,
    .react-datepicker__year-text--in-selecting-range,
    .react-datepicker__year-text--in-range {
        font-weight: 600 !important;
        border-radius: 100% !important;
        background-color: var(--color-accent) !important;
        color: var(--color-offwhite) !important;

        &:hover {
            background-color: var(--color-accent) !important;
        }
    }

    .react-datepicker__day--keyboard-selected,
    .react-datepicker__month-text--keyboard-selected,
    .react-datepicker__quarter-text--keyboard-selected,
    .react-datepicker__year-text--keyboard-selected {
        border-radius: 100% !important;
        background-color: var(--color-accent) !important;
        color: var(--color-offwhite) !important;
    }

    .react-datepicker__today-button {
        background: var(--input-background) !important;
        border-top: 1px solid var(--input-border) !important;
        padding: 1.25rem 0 !important;
        font-family: var(--fontstack2) !important;
        font-style: normal !important;
        font-weight: 600 !important;
        font-size: 100% !important;
        color: var(--color-foreground) !important;
        line-height: 1.3;
    }

    .react-datepicker__header {
        padding: 1.5rem 0 !important;
        background-color: var(--input-background) !important;
        border-bottom: 1px solid var(--input-border) !important;
    }

    .react-datepicker__current-month,
    .react-datepicker-time__header,
    .react-datepicker-year-header {
        margin-top: 0 !important;
        color: var(--color-foreground) !important;
        font-family: var(--fontstack2) !important;
        font-size: 110% !important;
        font-weight: 700 !important;
        line-height: 1.3;
        margin-bottom: 1rem !important;
    }

    .react-datepicker__day-name {
        color: var(--color-accent) !important;
        font-size: 0.9em !important;
        font-weight: 600 !important;
    }

    .react-datepicker__day--today {
        --color-accent: var(--color-green);

        border-radius: 100% !important;
        font-weight: normal !important;
        background: var(--color-accent) !important;
        color: var(--color-offwhite) !important;

        &:hover,
        &:focus {
            background: var(--color-accent) !important;
            color: var(--color-offwhite) !important;
        }
    }

    .form-group+.react-datepicker__close-icon {
        height: auto !important;
        top: 1rem !important;
        right: 0.5rem !important;

        &::after {
            background-color: var(--color-theme-700) !important;
            color: var(--color-foreground) !important;
            height: 20px !important;
            width: 20px !important;
            font-size: 14px !important;
            box-shadow: 0 2px 59px #0006 !important;
        }
    }

    .react-datepicker__input-container {
        .react-datepicker__calendar-icon {
            position: absolute !important;
            padding: 0.5rem !important;
            box-sizing: content-box !important;
        }
    }

    .react-datepicker__view-calendar-icon {
        svg {
            cursor: pointer !important;
            top: 0.5rem !important;
            fill: var(--color-foreground) !important;
            width: 2em !important;
            height: 2em !important;
            z-index: 5 !important;
        }

        .form-group {

            input,
            textarea {
                margin-left: 4rem !important;
                width: calc(100% - 4rem) !important;
            }

            label,
            .form-control {
                margin-left: 4rem !important;
            }
        }
    }

    .react-datepicker__day--selected,
    .react-datepicker__day--in-selecting-range,
    .react-datepicker__day--in-range,
    .react-datepicker__month-text--selected,
    .react-datepicker__month-text--in-selecting-range,
    .react-datepicker__month-text--in-range,
    .react-datepicker__quarter-text--selected,
    .react-datepicker__quarter-text--in-selecting-range,
    .react-datepicker__quarter-text--in-range,
    .react-datepicker__year-text--selected,
    .react-datepicker__year-text--in-selecting-range,
    .react-datepicker__year-text--in-range {
        color: var(--color-offwhite) !important;
        background-color: var(--color-primary) !important;
        border-radius: var(--radius-full) !important;

        &:hover {
            color: var(--color-offwhite) !important;
            background-color: var(--color-primary) !important;
            border-radius: var(--radius-full) !important;
        }
    }
}

@layer fileupload {
    .fileupload {

        &__input {
            display: none;
        }

        &__container {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: var(--color-foreground);
            background: var(--color-background);
            padding: var(--page-padding);
            border-radius: var(--radius);
            border: 2px solid transparent;
            pointer-events: none;

            &:hover,
            &:focus,
            &.drag-active {
                border-color: var(--color-accent) !important;
                border-width: 2px !important;
                border-style: dashed !important;
            }

            .split-divider {
                border-color: var(--color-border-surface);
            }
        }


        &__info {
            display: flex;
            flex-direction: column;
            font-size: 15px;
            letter-spacing: .5px;
            font-weight: 400;
            line-height: 1.35;
            margin-bottom: var(--page-padding-sm);

            small {
                color: var(--color-mute);
                font-size: var(--fs-sm);
                line-height: 3;
            }

            &__totalfiles {
                span {
                    font-weight: 600;
                    color: var(--color-accent);
                }
            }
        }
    }
}
