

@layer ripple, button, art, icon, icones, stack;

@layer ripple {

    .ripple {
        --ripple-background: var(--color-white);
        position: absolute;
        background: var(--ripple-background);
        border-radius: 50%;
        width: 5px;
        height: 5px;
        animation: rippleEffect 0.7s 1;
        opacity: 0;
    }

    @keyframes rippleEffect {
        0% {
            transform: scale(1);
            opacity: 0.4;
        }

        100% {
            transform: scale(100);
            opacity: 0;
        }
    }
}

@layer art {

    :root {
        --art-size: 12.8rem;
        --icon-svg-size: 1.8rem;
        --icon-size: calc(var(--icon-svg-size) + 16px);
    }

    .art {
        width: var(--art-size);

        svg {
            height: 100%;
            max-width: 100%;
        }

        &-tiny {
            --art-size: 7.2rem;
        }

        &-xs {
            --art-size: 9.6rem;
        }

        &-sm {
            --art-size: 12.8rem;
        }

        &-md {
            --art-size: 19.6rem;
        }

        &-lg {
            --art-size: 26rem;
        }

        &-xl {
            --art-size: 32rem;
        }

        &-2xl {
            --art-size: 42rem;
        }

        &-3xl {
            --art-size: 64rem;
        }
    }


}

@layer icon {

    svg {
        color: currentColor;
        --svg-ico-opacity: 1;
    }

    .icon-duotone {
        --svg-ico-opacity: .5;
    }

    .icon {
        --color-background: transparent;
        --color-shadow: transparent;

        position: relative;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: var(--icon-size);
        width: var(--icon-size);
        color: currentColor;
        background-color: var(--color-background);
        border-radius: var(--radius);
        border: 0px var(--border-style, solid);
        border-color: var(--color-border);
        transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);

        svg {
            height: var(--icon-svg-size);
            width: var(--icon-svg-size);
            fill: currentcolor;
            background: transparent;
        }


        &:hover {
            opacity: 1 !important;

            svg {
                opacity: 1 !important;
            }
        }

        &--dimmed {
            opacity: var(--alpha-link);
        }

        &--dimmed-icon {
            svg {
                opacity: var(--alpha-link);
            }
        }



        &--tiny {
            --icon-svg-size: 1.4rem;
        }

        &--xs {
            --icon-svg-size: 1.6rem;
        }

        &--sm {
            --icon-svg-size: 2rem;
        }

        &--md {
            --icon-svg-size: 2.4rem;
        }

        &--lg {
            --icon-svg-size: 3.2rem;
        }

        &--xl {
            --icon-svg-size: 4.8rem;
        }

        &--2xl {
            --icon-svg-size: 6.4rem;
        }

        &--3xl {
            --icon-svg-size: 9.6rem;
        }

        &--hover {
            height: var(--icon-size);
            width: var(--icon-size);

            &:not(.icon-triangle)::before {
                --radius: var(--radius-full);
                content: "";
                position: absolute;
                border-radius: var(--radius);
                top: 50%;
                left: 50%;
                height: 0;
                width: 0;
                background: var(--shadow-light);
                transition: all 400ms;
            }

            &.icon-square::before {
                --radius: var(--radius-md);
            }

            &:hover {
                &::before {
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                }
            }
        }

        &-circle {
            border-width: 1px;
            border-radius: 9999px;
        }

        &-square {
            border-width: 1px;
            border-radius: var(--radius-md);
        }

        &-triangle {
            position: relative;
            box-shadow: none !important;
            background: none !important;
            border: none !important;

            &:before {
                content: "";
                border: 1px var(--border-style);
                border-color: var(--color-border);
                color: var(--color-foreground);
                background: var(--color-background);
                box-shadow: var(--color-shadow);
                height: var(--icon-size);
                width: var(--icon-size);
                transform: rotate(calc(1 * 45deg));
                border-radius: 10px;
                transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
            }

            svg {
                position: absolute;
                top: 50%;
                inset-inline-start: 50%;
                transform: translate(-50%, -50%);
            }
        }

        &.ring-0,
        &.ring-1,
        &.ring-2,
        &.ring-3,
        &-circle,
        &-square,
        &-triangle {
            height: var(--icon-size);
            width: var(--icon-size);

            &.icon--tiny {
                --icon-svg-size: 1.2rem;
                --icon-size: calc(var(--icon-svg-size) + 8px);
            }

            &.icon--xs {
                --icon-svg-size: 1.4rem;
                --icon-size: calc(var(--icon-svg-size) + 8px);
            }

            &.icon--sm {
                --icon-svg-size: 1.6rem;
                --icon-size: calc(var(--icon-svg-size) + 12px);
            }

            &.icon--md {
                --icon-svg-size: 2.4rem;
            }

            &.icon--lg {
                --icon-svg-size: 3.2rem;
            }

            &.icon--xl {
                --icon-svg-size: 4.8rem;
            }

            &.icon--2xl {
                --icon-svg-size: 6.4rem;
            }

            &.icon--3xl {
                --icon-svg-size: 9.6rem;
            }

        }

    }
}

@layer icones {
    .icones {
        --icones-svg-size: 12.8rem;
        --icones-size: var(--icones-svg-size);
        --color-background: transparent;
        --color-shadow: transparent;

        position: relative;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: var(--icones-size);
        width: var(--icones-size);
        transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);

        svg {
            height: var(--icones-svg-size);
            width: var(--icones-svg-size);
            fill: currentcolor;
            background: transparent;
        }

        &-purple {
            --icones-base: var(--color-purple);
            --icones-5: var(--color-purple-5);
            --icones-10: var(--color-purple-10);
            --icones-20: var(--color-purple-20);
            --icones-30: var(--color-purple-30);
        }

        &-violet {
            --icones-base: var(--color-violet);
            --icones-5: var(--color-violet-5);
            --icones-10: var(--color-violet-10);
            --icones-20: var(--color-violet-20);
            --icones-30: var(--color-violet-30);
        }

        &-royalblue {
            --icones-base: var(--color-royalblue);
            --icones-5: var(--color-royalblue-5);
            --icones-10: var(--color-royalblue-10);
            --icones-20: var(--color-royalblue-20);
            --icones-30: var(--color-royalblue-30);
        }

        &-blue {
            --icones-base: var(--color-blue);
            --icones-5: var(--color-blue-5);
            --icones-10: var(--color-blue-10);
            --icones-20: var(--color-blue-20);
            --icones-30: var(--color-blue-30);
        }

        &-sea {
            --icones-base: var(--color-sea);
            --icones-5: var(--color-sea-5);
            --icones-10: var(--color-sea-10);
            --icones-20: var(--color-sea-20);
            --icones-30: var(--color-sea-30);
        }

        &-green {
            --icones-base: var(--color-green);
            --icones-5: var(--color-green-5);
            --icones-10: var(--color-green-10);
            --icones-20: var(--color-green-20);
            --icones-30: var(--color-green-30);
        }

        &-olive {
            --icones-base: var(--color-olive);
            --icones-5: var(--color-olive-5);
            --icones-10: var(--color-olive-10);
            --icones-20: var(--color-olive-20);
            --icones-30: var(--color-olive-30);
        }

        &-red {
            --icones-base: var(--color-red);
            --icones-5: var(--color-red-5);
            --icones-10: var(--color-red-10);
            --icones-20: var(--color-red-20);
            --icones-30: var(--color-red-30);
        }

        &-mulberry {
            --icones-base: var(--color-mulberry);
            --icones-5: var(--color-mulberry-5);
            --icones-10: var(--color-mulberry-10);
            --icones-20: var(--color-mulberry-20);
            --icones-30: var(--color-mulberry-30);
        }

        &-pink {
            --icones-base: var(--color-pink);
            --icones-5: var(--color-pink-5);
            --icones-10: var(--color-pink-10);
            --icones-20: var(--color-pink-20);
            --icones-30: var(--color-pink-30);
        }

        &-orange {
            --icones-base: var(--color-orange);
            --icones-5: var(--color-orange-5);
            --icones-10: var(--color-orange-10);
            --icones-20: var(--color-orange-20);
            --icones-30: var(--color-orange-30);
        }

        &-yellow {
            --icones-base: var(--color-yellow);
            --icones-5: var(--color-yellow-5);
            --icones-10: var(--color-yellow-10);
            --icones-20: var(--color-yellow-20);
            --icones-30: var(--color-yellow-30);
        }

        &-brown {
            --icones-base: var(--color-brown);
            --icones-5: var(--color-brown-5);
            --icones-10: var(--color-brown-10);
            --icones-20: var(--color-brown-20);
            --icones-30: var(--color-brown-30);
        }

        &-primary {
            --icones-base: var(--color-primary);
            --icones-5: var(--color-primary-5);
            --icones-10: var(--color-primary-10);
            --icones-20: var(--color-primary-20);
            --icones-30: var(--color-primary-30);
        }

        &-tiny {
            --icones-svg-size: 1.4rem;
        }

        &-xs {
            --icones-svg-size: 1.6rem;
        }

        &-sm {
            --icones-svg-size: 2rem;
        }

        &-md {
            --icones-svg-size: 2.4rem;
        }

        &-lg {
            --icones-svg-size: 3.2rem;
        }

        &-xl {
            --icones-svg-size: 4.8rem;
        }

        &-2xl {
            --icones-svg-size: 6.4rem;
        }

        &-3xl {
            --icones-svg-size: 12.8rem;
        }
    }
}

@layer stack {

    :root {
        --stack-space: 1rem;
    }

    .margin-stack {

        >div:not(:empty),
        ~div:not(:empty) {
            margin-top: var(--stack-space);
        }
    }

    .flex-stack {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        height: '100%';
        -webkit-box-pack: space;
        -ms-flex-pack: space;
        justify-content: space;

        >div:empty {
            display: none;
        }
    }
}

@layer button {
    // === Buttons


    button {
        border: none;
        background: none;
        text-align: unset;

        &:focus-visible {
            outline: none;
        }
    }

    .btn {
        --button-icon-size: 2.4;
        --button-size: 3.8rem;
        --button-padding: .8rem 1.5rem;
        --button-fontsize: var(--fs-sm);
        --button-border: var(--color-border-theme-500);
        --button-foreground: var(--color-foreground);
        --button-background: var(--color-theme-500);
        --button-line-height: 1.5;

        position: relative;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        appearance: none;
        user-select: none;
        white-space: nowrap;
        cursor: pointer;
        text-decoration: none;
        height: var(--button-size);
        line-height: var(--button-line-height);
        padding: var(--button-padding);
        font-size: var(--button-fontsize);
        font-family: var(--fontstack1);
        font-weight: normal;
        color: var(--button-foreground);
        background: var(--button-background);
        border: 0px solid var(--button-border);
        border-radius: var(--radius);
        transition: all 0.3s ease;
        margin-bottom: 0.5rem;
        margin-inline-start: 0.5rem;

        &:first-child {
            margin-inline-start: 0;
        }

        &:hover {
            opacity: .9;
            background-color: var(--button-background);
            color: var(--button-foreground);
        }

        &:active,
        &.active {
            transform: scale(0.94);
            box-shadow: none;

            &:focus {
                box-shadow: none;
            }
        }

        &:disabled,
        &.disabled {
            cursor: default;
            pointer-events: none;
            opacity: 0.7;
            -webkit-box-shadow: none;
            box-shadow: none;
        }

        svg {
            height: var(--icon-svg-size);
            width: var(--icon-svg-size);
            fill: currentcolor;
            background: transparent;
        }

        &.right {
            >.icon {
                margin-left: var(--button-icon-left_margin) !important;
            }
        }

        &.left {
            >.icon {
                margin-right: var(--button-icon-right_margin) !important;
            }
        }

        &--fluid {
            width: 100% !important;
            margin-right: 0;
            margin-bottom: 5px;
        }

        &--rounded {
            border-radius: var(--radius-lg);
            padding: 0.5rem 1.25rem;
        }

        &--circle {
            --button-padding: 8px;
            flex-direction: column;
            width: var(--button-size);
            height: var(--button-size);
            border-radius: 100%;
        }

        &-outline {
            color: var(--button-background);
            border-color: var(--button-background);
            background: transparent !important;

            &::before {
                position: absolute;
                content: "";
                bottom: 0;
                left: 0;
                right: 0;
                height: 0%;
                width: 100%;
                z-index: -1;
                transition: 0.3s ease-out;
                background: var(--button-background);
            }

            &:hover {
                color: var(--button-foreground);
                transition: 0.2s 0.1s;

                &::before {
                    height: 100%;
                }
            }
        }

        &-flat {
            color: var(--button-background);
            background-color: transparent;
            border-color: transparent;
            box-shadow: none !important;

            &:hover,
            &:focus,
            &:active,
            &.active,
            &:active:focus,
            &.active:focus {
                color: var(--button-background);
                background-color: transparent;
                border-color: transparent;
                box-shadow: none !important;
            }
        }

        &--shadow {
            &:hover {
                box-shadow: var(--color-shadow) !important;
            }
        }

        &--raised {
            box-shadow: var(--color-shadow) !important;
        }


        &--tiny {
            --button-padding: 1rem;
            --button-size: 1.8rem;
            --button-fontsize: calc(var(--button-size)/1.5);
            --button-icon-left_margin: .5rem;
            --left_margin: .5rem;
            --icon-svg-size: 1.2rem;
            --icon-size: calc(var(--icon-svg-size) + 8px);
        }

        &--xs {
            --button-padding: 1rem;
            --button-size: 2.4rem;
            --button-fontsize: calc(var(--button-size)/2);

            .icon {
                --icon-svg-size: 1.4rem;
                --icon-size: calc(var(--icon-svg-size) + 8px);
            }
        }

        &--sm {
            --button-padding: 1rem;
            --button-size: 2.8rem;
            --button-fontsize: calc(var(--button-size)/2);

            .icon {
                --icon-svg-size: 1.6rem;
                --icon-size: calc(var(--icon-svg-size) + 12px);
            }
        }

        &--md {
            --button-padding: 1rem;
            --button-size: 3.8rem;
            --button-fontsize: calc(var(--button-size)/2.5);

            .icon {
                --icon-svg-size: 1.8rem;
            }
        }

        &--lg {
            --button-padding: 1rem;
            --button-size: 4.2rem;
            --button-fontsize: calc(var(--button-size)/2.5);

            .icon {
                --icon-svg-size: 2rem;
            }
        }

        &--xl {
            --button-padding: 1rem;
            --button-size: 4.2rem;
            --button-fontsize: calc(var(--button-size)/2.5);

            .icon {
                --icon-svg-size: 2.5rem;
            }
        }

        &--2xl {
            --button-padding: 1rem;
            --button-size: 4.8rem;
            --button-fontsize: calc(var(--button-size)/2.5);

            .icon {
                --icon-svg-size: 3rem;
            }
        }

        &--3xl {
            --button-padding: 1rem;
            --button-size: 5.6rem;
            --button-fontsize: calc(var(--button-size)/2.5);

            .icon {
                --icon-svg-size: 3.5rem;
            }
        }
    }




    .btn-group {
        display: flex;
        gap: .5rem;
    }
}